In [1]:
import pandas  as pd 
import numpy as np

In [2]:
labelInfo = pd.read_csv('./data/dbd_faultcode.csv' , engine='python')
test_data = pd.read_csv('./data/testing_set_for_users.csv' , engine='python')
train_data = pd.read_csv('./data/dataset.csv',engine='python',chunksize=200000)

In [3]:
dfList = []
for df in train_data:
    SimpleData = pd.merge(df , labelInfo , how='left' , on=['FMI','SPN'])
    SimpleData = SimpleData[np.isnan(SimpleData['CODE'])==False]
    dfList.append(SimpleData)
train_all = pd.concat(dfList)

In [4]:
train_all['CODE'].value_counts()

1206.0    215738
1239.0      8194
1141.0      1075
1182.0       144
1168.0        41
1211.0        24
1216.0         4
1209.0         4
1145.0         2
1341.0         1
1246.0         1
1215.0         1
1122.0         1
Name: CODE, dtype: int64

In [5]:
test_data = test_data.dropna(axis=1 , how='all')

In [7]:
set(train_all['CODE'])

{1122.0,
 1141.0,
 1145.0,
 1168.0,
 1182.0,
 1206.0,
 1209.0,
 1211.0,
 1215.0,
 1216.0,
 1239.0,
 1246.0,
 1341.0}

In [9]:
csv_head = ['ACCRUNTIMES' , 'AREA' , 'CITY' , 'FRID' , 'LAT' , 'LNG' , 'PROVINCE' , 'READFLAG' , 'UNIQUENO' ]

In [46]:
label_map = pd.read_csv('./data/train_mer.txt')

In [47]:
label_map

     CODE  INFO
0  1206.0     0
1  1239.0     1
2  1141.0     2
3  1182.0     3
4  1168.0     4
5  1211.0     4

In [48]:
train = pd.merge(train_all , label_map , how='left' , on=['CODE'])

In [49]:
'''
1206.0    215738
1239.0      8194
1141.0      1075
1182.0       144
1168.0        41
1211.0        24
1216.0         4
1209.0         4
1145.0         2
1341.0         1
1246.0         1
1215.0         1
1122.0         1
'''

'\n1206.0    215738\n1239.0      8194\n1141.0      1075\n1182.0       144\n1168.0        41\n1211.0        24\n1216.0         4\n1209.0         4\n1145.0         2\n1341.0         1\n1246.0         1\n1215.0         1\n1122.0         1\n'

In [50]:
train = train[np.isnan(train['INFO'])==False]

In [52]:
train.describe()

,Unnamed: 0,ACCEXCCOUNT,ACCRUNTIMES,ACCSTATE,ACCWORKTIMES,ALARM_0001,ALARM_0002,ALARM_0003,ALARM_0004,ALARM_0005,...,WATERTEMPERATURE,WIRELESSTEMP1,WIRELESSTEMP2,WIRELESSTEMP3,WIRELESSTEMP4,WORKDETAILID,WORKHOURS,CODE,ENGINETYPEID,INFO
count,225216.000000,0.0,225216.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,225216.000000,225216.0,225216.000000
mean,120671.168238,NaN,997.553451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1206.868646,1958.0,0.049002
std,69859.804998,NaN,727.006451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.724456,0.0,0.251887
min,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1141.000000,1958.0,0.000000
25%,59931.750000,NaN,660.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1206.000000,1958.0,0.000000
50%,120633.500000,NaN,888.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1206.000000,1958.0,0.000000
75%,181050.250000,NaN,1174.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1206.000000,1958.0,0.000000
max,241400.000000,NaN,4603.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1239.000000,1958.0,4.000000

In [60]:
train_x = train[csv_head]
train_y = train['INFO']
test_x = test_data[csv_head]

train_x = train_x.fillna(method='pad')
test_x = test_x.fillna(method='pad')

In [61]:
## 生成onehot
from sklearn import preprocessing
enc = preprocessing.OneHotEncoder()
someLabel = np.array([[0] , [1] , [2] , [3] , [4]])
enc.fit(someLabel)
train_y=enc.transform(train_y.reshape([-1,1]))

D:\software\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

In [62]:
train['INFO'].value_counts()

0.0    215738
1.0      8194
2.0      1075
3.0       144
4.0        65
Name: INFO, dtype: int64

In [65]:
## 对小数据集进行测试
train_4 = train[train['INFO'] == 4]
train_3 = train[train['INFO'] == 3]
train_2 = train[train['INFO'] == 2][1:150]
train_1 = train[train['INFO'] == 1][1:150]
train_0 = train[train['INFO'] == 0][1:150]

In [68]:
train_new = pd.concat([train_0 , train_1 , train_2 , train_3 , train_4])
train_x = train_new[csv_head]
train_y = train_new['INFO']

In [81]:
## 预处理
min_max_scaler = preprocessing.MinMaxScaler()
train_x1  = min_max_scaler.fit_transform(train_x)
test_x1 = min_max_scaler.fit_transform(test_x)

In [82]:
from sklearn.svm import SVC
svm = SVC()
svm.fit(train_x1 ,train_y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [83]:
pre = svm.predict(test_x1)
print pre

[ 2.  2.  2. ...,  0.  0.  0.]

In [84]:
predf = pd.DataFrame(columns=['idx','INFO'])
predf['idx'] = test_data['idx']
predf['INFO'] = pre
predf = pd.merge(predf,label_map , how = 'left' , on = 'INFO')
predf.pop('INFO')
predf.rename(columns={'CODE':'Pred'}, inplace=True)
predf.to_csv('result.csv',index=None)

In [29]:
#生成结果
df_final = pd.DataFrame(columns=['idx','Pred'])
df_final['idx'] = test_data['idx']
df_final['Pred'] = 1182.0
df_final.to_csv('result.csv',index=None)