In [1]:
import pandas  as pd 
import numpy as np

In [2]:
labelInfo = pd.read_csv('./data/dbd_faultcode.csv' , engine='python')
test_data = pd.read_csv('./data/testing_set_for_users.csv' , engine='python')
train_data = pd.read_csv('./data/dataset.csv',engine='python',chunksize=200000)

In [3]:
dfList = []
for df in train_data:
    SimpleData = pd.merge(df , labelInfo , how='left' , on=['FMI','SPN'])
    SimpleData = SimpleData[np.isnan(SimpleData['CODE'])==False]
    dfList.append(SimpleData)
train_all = pd.concat(dfList)

In [4]:
train_all['CODE'].value_counts()

1206.0    215738
1239.0      8194
1141.0      1075
1182.0       144
1168.0        41
1211.0        24
1216.0         4
1209.0         4
1145.0         2
1341.0         1
1246.0         1
1215.0         1
1122.0         1
Name: CODE, dtype: int64

In [5]:
test_data = test_data.dropna(axis=1 , how='all')

In [6]:
set(train_all['CODE'])

{1122.0,
 1141.0,
 1145.0,
 1168.0,
 1182.0,
 1206.0,
 1209.0,
 1211.0,
 1215.0,
 1216.0,
 1239.0,
 1246.0,
 1341.0}

In [7]:
# test_data['FAULTTIME']

In [8]:
# ##处理时间问题
# test_faulttime = []
# train_faulttime = []
# test_collecttime = []
# train_collecttime = []
# import time ,datetime
# # test_data['FAULTTIME'] = ((test_data['FAULTTIME']).replace('-','').replace(' ','').replace(':',''))
# train_all['FAULTNAME'] = train_all['FAULTNAME'].fillna(method = 'pad',inplace = True)
# train_all['COLLECTTIME'] = train_all['COLLECTTIME'].fillna(method = 'pad',inplace = True)
# for index in test_data['FAULTTIME'].index:
#     timeArray = time.strptime(test_data['FAULTTIME'].loc[index],'%Y-%m-%d %H:%M:%S')
#     timeStamp = int(time.mktime(timeArray))
#     test_faulttime.append(timeStamp)
# for index in test_data['COLLECTTIME'].index:
#     timeArray = time.strptime(test_data['COLLECTTIME'].loc[index],'%Y-%m-%d %H:%M:%S')
#     timeStamp = int(time.mktime(timeArray))
#     test_collecttime.append(timeStamp)
# for index in train_all['FAULTTIME'].index:
#     try:
#         timeArray = time.strptime(train_all['FAULTTIME'].loc[index],'%Y-%m-%d %H:%M:%S')
#         timeStamp = int(time.mktime(timeArray))
#         train_faulttime.append(timeStamp)
#     except Exception:
#         train_faulttime.append(None)
# for index in train_all['COLLECTTIME'].index:
#     try:
#         timeArray = time.strptime(train_all['COLLECTTIME'].loc[index],'%Y-%m-%d %H:%M:%S')
#         timeStamp = int(time.mktime(timeArray))
#         train_collecttime.append(timeArray)
#     except Exception:
#         train_collecttime.append(None)

In [9]:
# print (len(train_collecttime))
# print (len(train_faulttime))
# print (len(test_faulttime))
# print (len(test_collecttime))

In [10]:
csv_head = ['ACCRUNTIMES' , 'AREA' , 'CITY' , 'FRID' , 'LAT' , 'LNG' , 'PROVINCE' , 'READFLAG' , 'UNIQUENO' ]

In [11]:
label_map = pd.read_csv('./data/train_mer.txt')

In [12]:
label_map

     CODE  INFO
0  1206.0     0
1  1239.0     1
2  1141.0     2
3  1182.0     3
4  1168.0     4

In [13]:
train = pd.merge(train_all , label_map , how='left' , on=['CODE'])

In [14]:
# '''
# 1206.0    215738
# 1239.0      8194
# 1141.0      1075
# 1182.0       144
# 1168.0        41
# 1211.0        24
# 1216.0         4
# 1209.0         4
# 1145.0         2
# 1341.0         1
# 1246.0         1
# 1215.0         1
# 1122.0         1
# '''

In [15]:
train = train[np.isnan(train['INFO'])==False]

In [16]:
train.describe()

,Unnamed: 0,ACCEXCCOUNT,ACCRUNTIMES,ACCSTATE,ACCWORKTIMES,ALARM_0001,ALARM_0002,ALARM_0003,ALARM_0004,ALARM_0005,...,WATERTEMPERATURE,WIRELESSTEMP1,WIRELESSTEMP2,WIRELESSTEMP3,WIRELESSTEMP4,WORKDETAILID,WORKHOURS,CODE,ENGINETYPEID,INFO
count,225192.000000,0.0,225192.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,225192.000000,225192.0,225192.000000
mean,120664.841096,NaN,997.169198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1206.868206,1958.0,0.048581
std,69860.379132,NaN,726.091697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.724750,0.0,0.248576
min,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1141.000000,1958.0,0.000000
25%,59925.750000,NaN,660.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1206.000000,1958.0,0.000000
50%,120623.500000,NaN,888.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1206.000000,1958.0,0.000000
75%,181042.250000,NaN,1174.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1206.000000,1958.0,0.000000
max,241400.000000,NaN,4355.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1239.000000,1958.0,4.000000

In [17]:
# train_x = train[csv_head]
# train_y = train['INFO']
# test_x = test_data[csv_head]

# train_x['FAULTTIME'] = train_faulttime
# train_x['COLLECTTIME'] = train_collecttime
# test_x['FAULTTIME'] = test_faulttime
# test_x['COLLECTTIME'] = test_collecttime

In [18]:
train_x = train[csv_head]
train_y = train['INFO']
test_x = test_data[csv_head]

train_x = train_x.fillna(method='pad')
test_x = test_x.fillna(method='pad')

In [19]:
## 生成onehot
from sklearn import preprocessing
enc = preprocessing.OneHotEncoder()
someLabel = np.array([[0] , [1] , [2] , [3] , [4]])
enc.fit(someLabel)
train_y=enc.transform(np.asarray(train_y).reshape([-1,1]))

In [20]:
train['INFO'].value_counts()

0.0    215738
1.0      8194
2.0      1075
3.0       144
4.0        41
Name: INFO, dtype: int64

In [21]:
train_y

<225192x5 sparse matrix of type '<class 'numpy.float64'>'
	with 225192 stored elements in Compressed Sparse Row format>

In [22]:
## 对小数据集进行测试
train_4 = train[train['INFO'] == 4]
list_train4 = []
for i in range(2000):
    list_train4.append(train_4)
train_4 = pd.concat(list_train4)

train_3 = train[train['INFO'] == 3]
list_train3 = []
for i in range(60):
    list_train3.append(train_3)
train_3 = pd.concat(list_train3)

train_2 = train[train['INFO'] == 2]
list_train2 = []
for i in range(10):
    list_train2.append(train_2)
train_2 = pd.concat(list_train2)

train_1 = train[train['INFO'] == 1]
list_train1 = []
for i in range(1):
    list_train1.append(train_1)
train_1 = pd.concat(list_train1)

train_0 = train[train['INFO'] == 0][1:10000]

In [23]:
train_new = pd.concat([train_0 , train_1 , train_2 , train_3 , train_4])
train_x = train_new[csv_head]
train_y = train_new['INFO']

In [24]:
## 预处理
min_max_scaler = preprocessing.MinMaxScaler()

train_x1  = min_max_scaler.fit_transform(train_x)
test_x1 = min_max_scaler.fit_transform(test_x)

In [25]:
from sklearn.svm import SVC

In [26]:
svm = SVC(kernel='rbf')
svm.fit(train_x1 ,train_y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [27]:
pre = svm.predict(test_x1)
print (pre)

[0. 2. 2. ... 0. 0. 0.]

In [36]:
predf = pd.DataFrame(columns=['idx','INFO'])
predf['idx'] = test_data['idx']
predf['INFO'] = pre
predf = pd.merge(predf,label_map , how = 'left' , on = 'INFO')
predf.pop('INFO')
predf.rename(columns={'CODE':'Pred'}, inplace=True)
predf.to_csv('result0725_4.csv',index=None)

In [29]:

len(set(predf['idx']))
# t_x1.shape

71559

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [34]:
clf = RandomForestClassifier(max_depth=500, random_state=0)
clf.fit(train_x1 , train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=500, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [35]:
pre = clf.predict(test_x1)

In [29]:
#生成结果
df_final = pd.DataFrame(columns=['idx','Pred'])
df_final['idx'] = test_data['idx']
df_final['Pred'] = 1182.0
df_final.to_csv('result.csv',index=None)