In [1]:
import pandas  as pd 
import numpy as np

In [2]:
labelInfo = pd.read_csv('./data/dbd_faultcode.csv' , engine='python')
test_data = pd.read_csv('./data/testing_set_for_users.csv' , engine='python')
train_data = pd.read_csv('./data/dataset.csv',engine='python',chunksize=200000)

In [3]:
dfList = []
for df in train_data:
    SimpleData = pd.merge(df , labelInfo , how='left' , on=['FMI','SPN'])
    SimpleData = SimpleData[np.isnan(SimpleData['CODE'])==False]
    dfList.append(SimpleData)
train_all = pd.concat(dfList)

In [4]:
train_all['CODE'].value_counts()

1206.0    215738
1239.0      8194
1141.0      1075
1182.0       144
1168.0        41
1211.0        24
1216.0         4
1209.0         4
1145.0         2
1341.0         1
1246.0         1
1215.0         1
1122.0         1
Name: CODE, dtype: int64

In [5]:
test_data = test_data.dropna(axis=1 , how='all')

In [7]:
set(train_all['CODE'])

{1122.0,
 1141.0,
 1145.0,
 1168.0,
 1182.0,
 1206.0,
 1209.0,
 1211.0,
 1215.0,
 1216.0,
 1239.0,
 1246.0,
 1341.0}

In [9]:
csv_head = ['ACCRUNTIMES' , 'AREA' , 'CITY' , 'FRID' , 'LAT' , 'LNG' , 'PROVINCE' , 'READFLAG' , 'UNIQUENO' ]

In [8]:
label_map = pd.read_csv('./data/train_info.txt')

In [10]:
label_map

      CODE  LABEL
0   1122.0      0
1   1141.0      1
2   1145.0      2
3   1168.0      3
4   1182.0      4
5   1206.0      5
6   1209.0      6
7   1211.0      7
8   1215.0      8
9   1216.0      9
10  1239.0     10
11  1246.0     11
12  1341.0     12

In [12]:
train = pd.merge(train_all , label_map , how='left' , on=['CODE'])

In [16]:
train_x = train[csv_head]
train_y = train['LABEL']
test_x = test_data[csv_head]

train_x = train_x.fillna(method='pad')
test_x = test_x.fillna(method='pad')

In [ ]:
## 生成onehot